body{
    background-image: url(neon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;

}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(90, 85, 85);
    border-radius: 60px;
    max-width: 450px;
    max-height: 1000px;
    overflow: hidden;

}
#display{
    width: 100%;
    padding: 15px;
    text-align: left;
    border: none;
    font-size: 400%;
    background-color: rgb(66, 59, 59);
    color: rgb(255, 255, 255);
}


#keys{
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    pad: 25px;

}

button{
    width: 100px;
    height: 110px;
    border-radius: 100px;
    border: none;
    background-color: rgb(236, 115, 10);
    color: rgb(255, 255, 255);
    font-size: 300%;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(241, 141, 0);
}
button:active{
    background-color: rgb(0, 6, 1);
}
.operator.btn{
    background-color: rgba(0, 0, 0, 0.348);
}
